

.cart{
    position: fixed;
    top: 0;
    width: 90vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    z-index: 1;
    padding: 2em 1em 1em 1em;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
  
}

.load{
  width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__open-article{
    transition: right 0.3s ease-in-out;
    right: 0;
}

.cart__close-article{
    transition: right 0.3s ease-in-out;
    right: -90%;
}


.cart__close{
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: inherit;
    border: none;
    transition: color 0.3s ease-in-out;
}

.cart__close:hover{
    color: red;
}

.cart__close i {
    font-size: 2.2em;
}

.cart__title{
    color: rgba(44, 41, 41, 0.822);
}

.cart__showpping{
    display: flex;

    flex-wrap: wrap;
    gap: 1em;
 
  width: 100%;
  height: 700px;
  overflow-y:scroll;
}

.article__cart{
    width: 100%;
    height: min-content;
    overflow: hidden;
    display: grid;
    gap: 1em;
    background-color: #fff;
    padding: 1em;
    border: 1px solid rgba(99, 90, 90, 0.418);
    position: relative;
}

.article__cart-head{
    display: flex;
    gap: 1em;
    justify-content: left;
    align-items: center;
}

.article__img{
    width: 40%;
    height: 100px;
}

.article__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article__info{
    display: grid;
    gap: 0.5em;
}

.article__info span{
    color: rgba(0, 0, 0, 0.699);
}

.article__btn{
    border: 1px solid rgba(56, 52, 52, 0.747);
    display: flex;
    width: min-content;
    justify-content: center;
    align-items: center;
}

.article__btn button{
    border: none;
    padding: 0.5em 1em;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
}

.article__btn button:hover:nth-child(1){
    background-color: #f85555;
    color: #fff;
}

.article__btn button:hover:nth-child(3){
    background-color: #7855f8;
    color: #fff;
}

.article__btn span{
    padding: 0 1em;
}

.article__cart-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: min-content;
}

.article__cart-footer p:nth-child(1){
    border: 1px solid rgba(44, 41, 41, 0.596);
    padding: 0.7em;
}

.article__cart-footer p:nth-child(2) span{
    color: gray;
}

.article__cart-footer p:nth-child(2){
    color: rgb(190, 12, 12);
    font-weight: 600;
}

.article__cart-footer button{
    border: none;
    background-color: #f85555;
    color: #fff;
    font-size: 1.4em;
    padding: 0.6em;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.article__cart-footer button:hover{
    background-color: #b81c1c;
    filter: brightness(1.5);
}

.cart__footer{
    background-color:#F1F6F9 ;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}

.cart__btn{
    width: 100%;
    padding: 1em;
    background-color: rgb(224, 56, 56);
    border: none;
    color: #fff;
}
.cart__footer-button{
    width: 100%;

}
.btn__cart--delete{

}

.load__product-cart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3936466b;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}


@media (min-width: 768px) {
    .cart{
        width: 450px;
        
    }
}