
.register{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}

.register__container{
    width: 400px;
    background-color: #fff;
    padding: 2em;
    display: grid;
    gap: 1em;
    border: 1px solid rgba(73, 71, 71, 0.651);
    border-radius: 0.5em;
}

.register__form{
    display: grid;
    gap: 2em;
}

.form__container-register{
    display: grid;
    gap: 0.2em;
}

.form__container-register label{
    color: rgba(37, 35, 35, 0.795);
}

.form__container-register input{
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 0.7em;
    border-radius: 0.5em;
}